In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://appdev@data:5432/appdev

In [ ]:
%sql SELECT * from information_schema.tables WHERE table_schema = 'chinook';

In [ ]:
%sql SELECT * from information_schema.columns WHERE table_schema = 'chinook';

# 1. The union of all the tracks with genreid 18 and 20
For this query we take the result from the first and the result from the second query, and then we get the genre for id 18 and 20. A simpler query would be "... WHERE genreid = 18 OR genreid = 20"

In [ ]:
%%sql
SELECT * FROM chinook.genre WHERE genreid = 18
UNION
SELECT * FROM chinook.genre WHERE genreid = 20;

# 2. The intersection of all the invoices that are cheaper than 10 dollars and the invoices that are more expensive than 5 dollars
In this query we take the results that appear in both the first and second query, and only those. A simpler query would be "... WHERE total < 10 OR total > 5"

In [ ]:
%%sql
SELECT * FROM chinook.invoice WHERE total < 10
INTERSECT
SELECT * FROM chinook.invoice WHERE total > 5;

# 3. The set of all customers from USA, subtracted by the set of all customers with an email ending in 'yahoo.com'
For this query we get the customers where the coutry is 'USA', and remove all etries that appear in the first and the second, which in this case is customers with a yahoo email. A simpler query would be "... WHERE country = 'USA' AND NOT LIKE '%yahoo.com'"

In [ ]:
%%sql
SELECT * FROM chinook.customer WHERE country = 'USA'
EXCEPT
SELECT * FROM chinook.customer WHERE email LIKE '%yahoo.com'

# 4. The union of the set of all albums playing something by Mozart and the set of all albums playing something with Bach
Here i join the album table and the track table onthe albumid, because the track table contains the composer where we can find Bach or Mozart. Then we take both of the results where the composer is ending in Mozart or Back, respectively.

In [ ]:
%%sql
SELECT * FROM chinook.album INNER JOIN chinook.track on album.albumid = track.albumid WHERE composer LIKE '%Mozart'
UNION
SELECT * FROM chinook.album INNER JOIN chinook.track on album.albumid = track.albumid WHERE composer LIKE '%Bach';